p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--second-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

:root {
  --main-text-color: #212121;
  --hover-text-color: #2196f3;
  --hero-text-color: #fff;
  --second-text-color: #757575;
  --btn-bkground-v1: #2196f3;
  --btn-bkground-v2: #f5f4fa;
  --background-color: #2f303a;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* .page-container {
  width: 1600px;
  margin: 0 auto;
} */

.container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ------------------HEADER-------------------------- */
.header {
  padding-top: 25px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  margin-right: 93px;
}

.logo {
  color: #2196f3;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--hover-text-color);
}

.button-primary {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  cursor: pointer;
}

.contact-item:not(:last-child) {
  margin-right: 30px;
}

.button-primary:hover,
.button-primary:focus {
  color: var(--hover-text-color);
}

/* ------------------FOOTER-------------------------- */
.footer {
  background-color: var(--background-color);
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  flex-direction: column;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-decoration: none;
  color: #ffffff;
}
.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.contact-container:not(:last-child) {
  margin-bottom: 9px;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* ------------------------------------------INDEX-------------------------------------------------- */

/* ------------------HERO-------------------------- */

.hero {
  background-color: var(--background-color);
}
.hero-container {
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  display: flex;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  width: 696px;
  height: 120px;
  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  padding: 10px 32px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
}

/* ------------------BENEFITS-------------------------- */
/* .benefits-container {
  padding-top: 94px;
  padding-bottom: 94px;
} */

.benefits-list {
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-tittle {
  /* display: flex; */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ------------------EXAMPLES------------------------- */
.examples-container {
  flex-direction: column;
  /* padding-bottom: 94px; */
}

.examles-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.example-item {
}

.example-item:not(:last-child) {
  margin-right: 30px;
}

.examples-title {
  color: var(--main-text-color);
}

/* ------------------COMAND------------------------ */
.comand {
  background-color: var(--btn-bkground-v2);
}

.comand-container {
  flex-direction: column;
  /* padding-top: 94px;
  padding-bottom: 94px; */
}

.comand-title {
  padding-top: 94px;
  color: var(--main-text-color);
}

.comand-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  padding-bottom: 94px;
}

.comand-item {
  flex-basis: calc(100% / 4 - 30px);
  background-color: #fff;
  margin-right: 30px;
  margin-bottom: 30px;
}

.comand-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.comand-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.comand-job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ------------------------------------------PORTFOLIO------------------------------------------------ */
.portfolio-container {
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* ------------------filter------------------------ */
.filter-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 9px;
  margin-bottom: 34px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border-color: transparent;
  padding: 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--btn-bkground-v2);
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: var(--hero-text-color);
  background-color: var(--btn-bkground-v1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}

/* ------------------Results------------------------ */

.results-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.results-item {
  /* display: flex; */
  border: 1px solid #eeeeee;
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.results-content {
  /* display: flex;
  flex-direction: column; */
  padding: 20px 24px;
}

.results-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.results-group {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
