h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--second-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

:root {
  --main-text-color: #212121;
  --hover-text-color: #2196f3;
  --hero-text-color: #fff;
  --second-text-color: #757575;
  --btn-bkground-v1: #2196f3;
  --btn-bkground-v2: #f5f4fa;
  --background-color: #2f303a;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* .page-container {
  width: 1600px;
  margin: 0 auto;
} */

.container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ------------------HEADER-------------------------- */
.header {
  padding-top: 25px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
  margin-right: 93px;
}

.logo {
  color: #2196f3;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:focus,
.header-link:hover {
  color: var(--hover-text-color);
}

.button-primary {
  display: flex;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  cursor: pointer;
  align-items: center;
}

.contact-item:not(:last-child) {
  margin-right: 30px;
}

.button-primary:focus,
.button-primary:hover {
  color: var(--hover-text-color);
}


.mail-icon {
fill: currentColor;
margin-right: 10px;
}


/* ------------------FOOTER-------------------------- */
.footer {
  background-color: var(--background-color);
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  align-items: baseline;
}

.footer-adress-container {
   flex-direction: column;
}

.footer-logo {
  display: flex;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-decoration: none;
  color: #fff;
}

.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.contact-container:not(:last-child) {
  margin-bottom: 9px;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-social-container {
display: flex;
flex-direction: column;
margin-left: 70px;
}

.footer-social-title {
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--hero-text-color) ;
margin-bottom: 20px;
}

.comand-social-link-footer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);;

}

.comand-social-icon {
fill: currentColor;
}

.comand-social-link-footer:hover,
.comand-social-link-footer:focus {
  background-color: var(--hover-text-color);
  color: var(--hero-text-color);
}

/* ------------------------------------------INDEX-------------------------------------------------- */

/* ------------------HERO-------------------------- */

.hero {
  width: 1600px;
  margin: 0 auto;
  background-color: var(--background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
   url(../images/Img.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.hero-container {
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  display: flex;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  width: 696px;
  height: 120px;
  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  padding: 10px 32px;
  background: #2196f3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
}

/* ------------------BENEFITS-------------------------- */
.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  display: flex;
  justify-content: space-between; /* padding-top: 94px;
  padding-bottom: 94px; */
}

.benefits-item {
  width: 270px;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-tittle {
  /* display: flex; */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.benefits-icon-field {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
border-radius: 4px;
display: flex;
margin-bottom: 30px;
justify-content: center;
  align-items: center;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ------------------EXAMPLES------------------------- */

.examples {
  padding-bottom: 94px;
}

.examples-container {
  flex-direction: column; /* padding-bottom: 94px; */
}

.examles-list {
  display: flex;
  justify-content: space-between;
}

.example-item:not(:last-child) {
  margin-right: 30px;
}

.examples-title {
  color: var(--main-text-color);
}

/* ------------------COMAND------------------------ */
.comand {
  background-color: var(--btn-bkground-v2);
  padding-top: 94px;
  padding-bottom: 94px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.comand-container {
  flex-direction: column;
   /* padding-top: 94px;
  padding-bottom: 94px; */
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  
}

.comand-title {
  color: var(--main-text-color);
}

.comand-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.comand-item {
  flex-basis: calc(100% / 4 - 30px);
  background-color: #fff;
  margin-right: 30px;
  margin-bottom: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.comand-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.comand-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.comand-job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;

}

.comand-social-list {
  display: flex;
  justify-content: center;
  }

.comand-social-item {
  width: 44px;
  height: 44px;
}
.comand-social-item + .comand-social-item  {
  margin-left: 10px;
}

.comand-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;

}

.comand-social-icon {
fill: currentColor;
}

.comand-social-link:hover,
.comand-social-link:focus {
  background-color: var(--hover-text-color);
  color: var(--hero-text-color);
}

/* ------------------Clients------------------------ */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-container {
  flex-direction: column; /* padding-bottom: 94px; */
}

.clients-title {
  color: var(--main-text-color);
}
.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
 }

 .clients-icon {
  fill: currentColor;
  }

.clients-link:hover,
.clients-link:focus {
  border-color: var(--hover-text-color);
  color: var(--hover-text-color)
}



/* ------------------------------------------PORTFOLIO------------------------------------------------ */
.filter {
  padding-top: 100px;
  padding-bottom: 100px;
}

.portfolio-container {
  flex-direction: column;
  align-items: center; /* padding-top: 100px;
  padding-bottom: 100px; */
}

/* ------------------filter------------------------ */
.filter-list {
  display: flex;
  justify-content: space-between; /* padding-bottom: 9px; */
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border-color: transparent;
  padding: 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--btn-bkground-v2);
  border-radius: 4px;
}


.filter-button:active,
.filter-button:focus,
.filter-button:hover {
  color: var(--hero-text-color);
  background-color: var(--btn-bkground-v1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}

/* ------------------Results------------------------ */

.results-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.results-item {
  border: 1px solid #eee;
  flex-basis: calc(100% / 3 - 30px);
  background-color: #fff;
  margin-right: 30px;
  margin-bottom: 30px;
}

.results-item:hover,
.results-item:focus {
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.results-content {
  padding: 20px 24px;
  
}

.results-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
  }

.results-group {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
