body {
  font-family: 'Roboto', sans-serif;
  color: var(--second-text-color);
}

:root {
  --main-text-color: #212121;
  --hover-text-color: #2196f3;
  --hero-text-color: #fff;
  --second-text-color: #757575;
  --btn-bkground-v1: #2196f3;
  --btn-bkground-v2: #f5f4fa;
  --background-color: #2f303a;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ------------------HEADER-------------------------- */
.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logo {
  color: #2196f3;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--hover-text-color);
}

.button-primary {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  cursor: pointer;
}

.button-primary:hover,
.button-primary:focus {
  color: var(--hover-text-color);
}

/* ------------------FOOTER-------------------------- */
.footer {
  background-color: var(--background-color);
  color: #ffffff;
}
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
  color: #ffffff;
}
.footer-contact {
  font-style: normal;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* ------------------------------------------INDEX-------------------------------------------------- */

/* ------------------HERO-------------------------- */

.hero {
  background-color: var(--background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/* ------------------BENEFITS-------------------------- */

.benefits-tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ------------------EXAMPLES------------------------- */
.examples-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* ------------------COMAND------------------------ */
.comand-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.comand-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.comand-job {
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ------------------------------------------PORTFOLIO------------------------------------------------ */

/* ------------------filter------------------------ */
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--hero-text-color));
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: var(--btn-bkground-v2);
  background-color: var(--btn-bkground-v1);
}

/* ------------------Results------------------------ */
.results-name {
font-weight: 70;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--main-text-color);
}

.results-group {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}