.comand {
    background-color: var(--btn-bkground-v2);
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .comand-container {
    flex-direction: column;
  }
  
  .comand-title {
    color: var(--main-text-color);
  }
  
  .comand-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  
  .comand-item {
    flex-basis: calc(100% / 4 - 30px);
    background-color: #fff;
    margin-right: 30px;
    margin-bottom: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .comand-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .comand-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 10px;
  }
  
  .comand-job {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }