.examples {
    padding-bottom: 94px;
  }
  
  .examples__container {
    flex-direction: column;
  }

  .examples__title {
    color: var(--main-text-color);
  }
   
  .examles-list {
    display: flex;
    justify-content: space-between;
  }
  
  .examles-list__item {
    position: relative;
    &:not(:last-child) {
        margin-right: 30px;
      }
  }
    
  .examles-list__container {
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 27px;
  }
  
  .examles-list__text {
    @include text();
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }