.footer {
    background-color: var(--background-color);
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer__container {
    display: flex;
    flex-wrap: wrap;  
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
    }
    @media screen and (min-width: 1200px) {
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: nowrap;
    }
  }

  .footer__container-item {
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 3 - 30px);
    }
  }

  
  .footer__adress-container {
    
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }
    
  .footer__logo {
    display: flex;
    justify-content: center;
    @include text(700, 24px, 1.17);
    font-family: Raleway;
    margin-bottom: 20px;
    text-decoration: none;
    color: #fff;
    @media screen and (min-width: 1200px) {
      @include text(700, 26px, 1.19);
      justify-content: start;
    }
    
  }
  
  .footer__contact {
    @include text(400, 14px, 1.71);
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px) {
      align-items: flex-start;
    }
  }
  
  .contact-container:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
  
  .footer__mail {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer__tel {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .footer__social-container {
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      margin-left: 70px;
    }
  }
  
  .footer__social-title {
    @include text();
    display: flex;
    text-transform: uppercase;
    color: var(--hero-text-color);
    margin-bottom: 20px;
    justify-content: center;
    @media screen and (min-width: 1200px) {
      justify-content: start;
    }
  }
  .footer__socials {
    @media screen and (min-width: 1200px) {
      justify-content: start;
    }
  }
  
  .footer__socials-link {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .comand-social-icon {
    fill: currentColor;
  }
  
 
  
  .footer__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px) {
      margin-left: 93px;
      align-items: flex-start;
    }
  }
  
  .footer-form__title {
    @include text();
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    // @media screen and (min-width: 1200px) {
    //   justify-content: start;
    // }
  }
  
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      height: 50px;
    }
  }
   
  
  
  .footer-form__input {
    @include text(400, 16px, 1.25);
    width: 430px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    background-color: transparent;
    // align-items: center;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
    // align-items: center;
    width: 358px;
    margin-bottom: 0;
    }
  }
  
  .footer-form__submit-send {
    margin-left: 10px;
    fill: currentColor;
  }