.header {
    border-bottom: 1px solid #ececec;
    padding-top: 16px;
    padding-bottom: 16px;
    @media screen and (min-width: 768px) {
      padding-top: 26px;
      padding-bottom: 26px;
    }
  }
  
  .header__container {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
    
  }
  
  .header__navigation {
      display: flex;
      align-items: center;
  }
  
  .header__logo {
    @include text(700, 26px, 1.19);
    font-family: Raleway;
    color: #000;
    text-decoration: none;
    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
    
  }
  
  .logo {
    color: #2196f3;
  }
  
  .header-list {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex
    }
    
  }
  
  .header-list__item:not(:last-child) {
    margin-right: 50px;
  }
  
  .header-list__link {
    @include text(500, 14px, 1.14, 0.02em);
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    &:focus,
    &:hover {
      color: var(--hover-text-color);
    }
    &.curent{
      &::after {
      content: '';
      width: 100%;
      height: 4px;
      background-color: var(--btn-bkground-v1);
      border-radius: 2px;
      position: absolute;
      left: 0;
      bottom: -28px;
      }
    }
  }
  
  .header-list__contact {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex; 
      flex-direction: column;
      justify-content: flex-end;
    }
    @media screen and (min-width: 1200px) {
      display: flex; 
      flex-direction: row;
    }
    
    
  }
   
  .contact-item__icon {
    fill: currentColor;
    margin-right: 10px;
  }
