.open-menu-btn {
    margin-left: auto;
    @include flex();
  position: absolute;
  margin-bottom: 30px;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: #000;
  &:focus,
  &:hover {
      color: var(--hover-text-color);
    }
    @media screen and (min-width: 768px) {
      display: none; 
    } 
  }

  .open-menu__icon {
    fill: currentColor;
  }

  .mob-menu {
    position: fixed;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 5;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 25px;
    .container {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
    }
    @media screen and (min-width: 768px) {
      display: none; 
    }
  }

  .close-menu-btn {
  @include flex();
  position: absolute;
  top: 21px;
  right: 25px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: #212121;
  &:focus,
  &:hover {
      color: var(--hover-text-color);
    }
  }

  .close-menu__icon {
    fill: currentColor;
  }
      
  .mob-menu__item {
    &:not(:last-child) {
      margin-bottom: 43px;
    }
  }

  .mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  &:focus,
  &:hover {
      color: var(--hover-text-color);
    }
  }
 
  .mob-menu-contact-item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .mob-menu-contact-item__button--tel {
    @include text(500, 34px, 1.18, 0.02em);
    color: #2196F3;
  }

.mob-menu-contact-item__button--mail {
  @include text(500, 24px, 1.16, 0.02em);
  color: #757575;
}

.mob-menu-contact {
 margin-bottom: 64px;
}

.mob-menu-socials {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  }
.mob-menu-socials__item {
  // position: relative;
      // left: -50%;
      // top: -10px;
      // width: 22px;
      // height: 0px;
      // border: 1px solid rgba(33, 33, 33, 0.2);
      // transform: rotate(90deg);
    
    &:not(:last-child) {
      margin-right: 20px;
      &::after {
        content: "";
        position: relative;
        left: 10px;
        top: 0;
        width: 22px;
        height: 0px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
    }
  }
}
.mob-menu-socials__link {
  @include text(500, 18px, 1.22, 0.02em);
  color: #2196F3;
  text-decoration: none;
}